access = restricted
allow-same-version = false
always-auth = false
audit-level = low
audit = true
color = always
engine-strict = true
force = false
node-options = --max_old_space_size=6144
prefer-online = true
progress = true
registry = https://registry.npmjs.org/
@murus-app:registry=https://npm.pkg.github.com/
shell = bash
strict-ssl = true
